Use default ports

When `-P imap` is provided without `--port `, port 143 shall be implied, as this default makes sence and every other default does not make sence.

Likewise `-P sieve` → --port 4190, `-P ldap` → `--port 389`.


While the default for SMTPS is port 465 (first TLS, then SMTP), the defaut for SMTP can be either 25 or 587 (first SMTP, then STARTTLS).

This is followed by smtp.gmail.com:465, smtp.gmail.com:587, mail.aegee.org:465, mail.aegee.org:587 and many others.

To be precise, port 25 is called SMTP, and the other two ports are called SUBMIT (for “mail submission”), so `-P smtp` shall imply port 25 and `-P smtps` shall imply port 465.

Cf https://www.iana.org/assignments/service-names-port-numbers/service-names-port-numbers.txt:
```
 Service Name   Port Number Transport         Description                                Assignee                                                 Contact                          Registration Modification                  Reference                    Service   Unauthorized                       Assignment Notes
                            Protocol                                                                                                                                                   Date         Date                                                     Code    Use Reported

smtp                25         tcp    Simple Mail Transfer         [IESG]                                                [IETF_Chair]                                                           2017-06-05   [RFC5321]

submissions         465        tcp    Message Submission over TLS  [IESG]                                                [IETF_Chair]                                              2017-12-12                [RFC8314]
                                      protocol
submission          587        tcp    Message Submission                                                                                                                                        2011-11-17   [RFC6409]
```

Uder `smtps` people understand `submissions`.